h1 {
  color: rgb(9, 43, 238);
  background-color: rgb(122, 154, 181);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
